.blog_meta
	%span{:class => 'icon_user'}
		= link_to post.user.username, :action => :meta, :meta_type => "user", :user_id => post.user.id
	%span{:class => 'icon_topic'}
		= link_to post.category, :action => :meta, :meta_type => "category", :category => post.category
	%span{:class => 'icon_date'}
		= link_to post.created_at.strftime("%d/%m/%Y"), :action => :meta, :meta_type => "date", :date => post.created_at
